.DivConnect {
  justify-content: center;
  align-items: center;
  background-color: rgba(36, 36, 36, 0.781);
  padding: 30px;
  width: 90%;
  border-radius: 10px;
}
p{
  font-size: 10px;
}

.Mrbutton {
  overflow: initial;
  width: auto;
  --smart-button-opacity-focus: initial;
  --smart-button-opacity-hover: initial;
  --smart-button-opacity-active: initial;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Mrbutton {
  overflow: hidden;
}

.Mrbutton:before,
.Mrbutton:before {
  content: "";
  text-align: center;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;

  filter: blur(5px);
  width: calc(100%);
  height: calc(100%);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
}

.Mrbutton:hover button:before,
.Mrbutton:hover:before {
  opacity: 1;
}

.Mrbutton:after,
.Mrbutton {
  overflow: initial;
  width: auto;
  --smart-button-opacity-focus: initial;
  --smart-button-opacity-hover: initial;
  --smart-button-opacity-active: initial;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Mrbutton {
  overflow: hidden;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 200% 0;
  }

  100% {
    background-position: 0 0;
  }
}
