.c-wrapper {
  display: flex;
  height: 100vh;
  font-family: "Orbitron", sans-serif;
}

.teamtitle {
  align-items: center;
  justify-content: center;
}

.i {
  display: flex;
  height: 100vh;
  font-family: "Orbitron", sans-serif;
}

.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i-right {
  flex: 1;
  position: relative;
}
.i-left-wrapper {
  padding: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.i-intro {
  font-size: 30px;
  font-weight: 300;
}

.i-name {
  font-size: 60px;
}
.i-title {
  height: 50px;
  overflow: hidden;
}

.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(82, 201, 82);
  display: flex;
  align-content: center;
}

.i-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.i-bg {
  background-color: rgb(114, 58, 105);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  right: 0;
}

.pl-list {
  z-index: 9;
  position: sticky;
  border: hidden;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .i {
    flex-direction: column;
  }
}

.a-award-title {
  color: blanchedalmond;
}
.a-award-texts {
  align-content: center;
  justify-content: center;
  text-align: left;
}
.a {
  margin: 0px;
}

@media screen and (max-width: 480px) {
  .c-wrapper {
    flex-direction: column;
    padding: 10px 50px;
    height: 100vh;
  }
}
